@font-face {
    font-family: FjordOne;
    src: url(Fjord_One/FjordOne-Regular.ttf);
    font-weight:400;
}

body {
	background: #74AFAD;
	color: #ECECEA;
	font-family: 'FjordOne', serif;
	
	/*
	nice color palette
	#558C89 - dark-grey-blue
	#74AFAD - light blue
	#D9853B - orange
	#ECECEA - light grey
	*/
}

#headerArea{
	text-align: center;
}

#textInputDiv{
	text-align: center;
	margin-top: 20px;
	margin-left: 25%;
	width: 40%;
	
}

#buttonsAndBox{
	width: 100%;
	float: left;
}

#myTextArea{
	height: 100px;
	width: 60%;
	margin-right: 0px;
	margin-left: 0px;
}

#buttonDiv{
	float: left;
	text-align: right;
	margin-right: 0px;
	width: 38%;
}

#mainArea{
	width: 60%;
	margin: auto;
}

.mainDiv{
	border-width: 2px;
	border-style: solid;
	float: left;
	margin-left: 30px;
	padding: 5px;
	width: 250px;
}

#locationDiv{
	width: 400px;
}

.innerDiv{
	border-width: 2px;
	border-style: dashed;
	padding: 5px;
	margin-top: 10px;
}

.mainDivTitle{
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

.topic{
	font-weight: bold;
	font-style: italic;
}

.dynamicData{
	color: #8644DF;
	padding-left: 10px;
}

.otherCharacterDescription{
	display: block;
	padding-left: 10px;
	font-size: 12px;
	font-style: italic;
	color: #4244DF;
}

.dynamicList{
	padding-top: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 30px;
    width: 90%;
}

