<html>
  <head>
    <script type="text/javascript" src="jquery-1.4.2.min.js"></script>
    <link rel="stylesheet" href="actor.css">
    <!-- Autoreloader code -->
    <script>
    // Set up script to auto-reload the interface every 300ms. This works
    // by loading the content of a server file called 'actor.html', which the
    // game overwrites as appropriate during gameplay
    refresh_alerts = setInterval(function (){
        $("#interface").load("actor.html");
    }, 300)
    </script>
  </head>
  <body>
     <div id="interface"></div>
  </body>
</html>