<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Wizard Interface // Bad News</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<script>
  console.log("Good morning!");
</script>

</head>
<body>

<div id="mainArea">
	<div id="topAreaDiv">
		<div id="whoAmIDiv" class="mainDiv">
			<span class="topic">My Name is:</span>
			<span class="dynamicData"> David Grot</span> 
		</div>

		<div id="timeAndPlaceInfo" class="mainDiv">
			<div class="mainDivTitle">Time and Place Info</div>
			<div id="townNameDiv">
				<span class="topic">Town Name:</span>
				<span class="dynamicData">Frostbite Falls</span>
			</div>
			<div id="currentDateDiv">
				<span class="topic">Current Date:</span>
				<span class="dynamicData">August 19th, 1979</span>
			</div>
			<div id="currentLocationDiv">
				<span class="topic">Current Location:</span>
				<span class="dynamicData">880 Unit #2</span>
			</div>
			<div id="currentTimeDiv">
				<span class="topic">Current Time:</span>
				<span class="dynamicData">Night</span>
			</div>
		</div>
	</div>

	<div id="characterDescriptionArea">
		<div id="physicalDescription" class="mainDiv">
			<div class="mainDivTitle">Physical Description</div>
			<div class="innerDiv">
				<span class="topic">Hair:</span>
				<span id="hair" class="dynamicData">Long, brown</span>
			</div>
			<div class="innerDiv">
				<span class="topic">Eyes:</span>
				<span id="eyes" class="dynamicData">Blue, narrow</span>
			</div>
			<div class="innerDiv">
				<span class="topic">Face:</span>
				<span id="face" class="dynamicData">Wide</span>
			</div>
			<div class="innerDiv">
				<span class="topic">Skin:</span>
				<span id="skin" class="dynamicData">Beige</span>
			</div>
			<div class="innerDiv">
				<span class="topic">Age:</span>
				<span id="age" class="dynamicData">31</span>
			</div>
		</div>


		<div id="PersonalityDescription" class="mainDiv">
			<div class="mainDivTitle">Personality Description</div>
			<div class="innerDiv">
				<span class="topic">Extraversion:</span>
				<span id="extraversion" class="dynamicData">High</span>
			</div>
			<div class="innerDiv">
				<span class="topic">Agreeableness:</span>
				<span id="agreeableness" class="dynamicData">Low</span>
			</div>
			<div class="innerDiv">
				<span class="topic">Neuroticism:</span>
				<span id="neuroticism" class="dynamicData">Neutral</span>
			</div>
			<div class="innerDiv">
				<span class="topic">Openness:</span>
				<span id="openness" class="dynamicData">Negative</span>
			</div>
			<div class="innerDiv">
				<span class="topic">Conscientiousness:</span>
				<span id="conscientiousness" class="dynamicData">Very Negative</span>
			</div>
			<div class="innerDiv">
				<span class="topic">Personality Type Summary:</span>
				<span id="summary" class="dynamicData">Curmudgeon</span>
			</div>
		</div>


		<div id="Other Description" class="mainDiv">
			<div class="mainDivTitle">Other Info</div>

			<div class="innerDiv">
				<span class="topic">Occupation:</span>
				<span id="occupation" class="dynamicData">Barber at Thom's Barber Shop (day only)</span>
			</div>

			<div class="innerDiv">
				<span class="topic">Residence:</span>
				<span id="residence" class="dynamicData">610 Baptiste Avenue #4</span>
			</div>
		</div>
	</div>

	<div id="extraInfoDiv">
		<div class="mainDiv" id="previousPeople">
			<div class="mainDivTitle">Previous People I've Been</div>
			<span id="previousCharacterSpan" class="dynamicData">
				<ul id="previousCharacterList" class="dynamicList">
					<li>
						<span class="previousCharacterName">Walter Jones</span>
						<span class="previousCharacterDescription">33 year old Lawyer</span>
					</li>
					<li>
						<span class="previousCharacterName">Greg Gugeinheim</span>
						<span class="otherCharacterDescription">58 year old used car salesman</span>
					</li>
					<li>
						<span class="previousCharacterName">Sarah Tandy</span>
						<span class="otherCharacterDescription">22 year old mechanic</span>
					</li>
				</ul>
			</span>
		</div>
		<div class="mainDiv" id="RelevantPerson">
			<div class="mainDivTitle">Person Relevant To Conversation</div>
			<div class="innerDiv">
				<span class="topic">Name:</span>
				<span id="relevantPersonOccupation" class="dynamicData">Spencer Woodwright</span>
			</div>
			<div class="innerDiv">
				<span class="topic">Looks:</span>
				<span id="relevantPersonLooks" class="dynamicData">40 yrs old, Blond Hair, Blue Eyes, Beige Skin</span>
			</div>
			<div class="innerDiv">
				<span class="topic">Occupation:</span>
				<span id="relevantPersonOccupation" class="dynamicData">Teacher at K-12 School, daytime</span>
			</div>
			<div class="innerDiv">
				<span class="topic">Personality:</span>
				<span id="relevantPersonOccupation" class="dynamicData">Sycophant</span>
			</div>
			<div class="innerDiv">
				<span class="topic">Charge:</span>
				<span id="relevantPersonCharge" class="dynamicData">Good Friends</span>
			</div>
			<div class="innerDiv">
				<span class="topic">Spark:</span>
				<span id="relevantPersonCharge" class="dynamicData">Very Attracted Towards</span>
			</div>
		</div>
		<div class="mainDiv" id="TargetPerson">
			<div class="mainDivTitle">Player's Target</div>
			<div class="innerDiv">
				<span class="topic">Name:</span>
				<span id="relevantPersonOccupation" class="dynamicData">Veronica Cunningham</span>
			</div>
			<div class="innerDiv">
				<span class="topic">Relation To Me:</span>
				<span id="relevantPersonOccupation" class="dynamicData">Brother's Friend</span>
			</div>
		</div>
	</div>

</div>

</body>
</html>
